{% extends "navbar.html" %}

{% block content %}

<script src="{{ url_for('static',filename='javascript/buscarArtesanosAdmin.js') }}"></script>

<h1 class="ui centered align header"> Búsqueda de Artesanos</h1>


<div class="ui raised very padded text container segment">
    <div class="ui doubling two column grid">
        <div class="column">
            <h4 class="ui header">Buscar por Servicios</h2>
        </div>
        <div class="column" style="width: 50%;">
            <select class="ui fluid dropdown" id="txtBusqueda">

            </select>
        </div>
        <div class="centered row">
            <a class="ui labeled blue icon button" onclick="tablaArtesanosAdmin(0)">
                <i class="search icon"></i>
                Buscar
            </a>
        </div>
    </div>
</div>


<div class="formularioTabla">
    <table id="tablaArtesanos" class="ui celled table">
        <thead>
            <th> Nombres </th>
            <th> Apellidos </th>
            <th> Servicio Ofrecido </th>
            <th> Telefonos de Contacto </th>
            <th> Direccion </th>
            <!--<th> Disponibilidad </th>-->
            <th> </th>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui right floated pagination menu">
                        <a class="icon item" id="btnBack" href="#">
                            <i class="chevron left icon"></i>
                        </a>
                        <a class="icon item" id="btnNext" href="#">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}