{% extends "navbar.html" %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/crearCurso.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/limpiarCampos.js') }}"></script>

<h1> Crear un nuevo Curso de Capacitacion</h1>

<div class="formulario">
    <table align="center">
        <tr>
            <td>Nombre del Curso:</td>
            <td><input type="text" id="nombreCurso" size="40"></br></td>
        </tr>
        <tr>
            <td>Descripcion del Curso:</td>
            <td><textarea cols="40" rows="6" id="descripcion" placeholder="Escriba la descripcion del Curso"></textarea></td>
        </tr>
    </table>
</div>
<div class="botones">
    <tr>
        <td>
            <input type="submit" value="Guardar" onclick="crearCurso()"/>
            <input type="submit" value="Limpiar Campos" onclick="limpiarCamposCrearCurso()"/>
            <input type="submit" value="Regresar" onclick="location.href = '/index'"/>
        </td>
    </tr>
</div>
	{% endblock %}
