{% extends "navbar.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul> 
    {% for message in messages %}
    <h1> {{message}} </h1>
    {% endfor %}
</ul>
{% else %}
<h1>Bienvenido {{current_user.nombres}}</h1>
{% endif %}
{% endwith %}

<div class="formulario">
    <p>
        Reciba un cordial saludo de parte de quienes conformamos la Bolsa de Empleo del Gobierno Autónomo Descentralizado de la Provincia de Pichincha.
    </p>
    <p>
        Esta página tiene como fin facilitar la búsqueda de empleados y empleadores del sector artesanal de la construcción.
    </p>
</div>
{% endblock %}
