{% extends "navbar.html" %}


{% block content %}

{% if id %}
<input type="hidden" value="{{ id }}" id="hiddenId" />
{% endif %}
<script src="{{ url_for('static',filename='javascript/informacionCurso.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/limpiarCampos.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/validacionesGenerales.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='javascript/validarDatosInfoCurso.js') }}" type="text/javascript"></script>

<h1 class="ui centered align header"> Llenar Informacion de Curso de Capacitacion</h1>
<div class="ui form">
    <div class="field">
        <label>Seleccione el Curso:</label>
        <div>
            <select id="cursos" onchange="cargarDatos()" class="ui fluid dropdown"></select>
        </div>
    </div>
    <br />
    <div class="field">
        <label><b>Llene los siguientes campos:</b></label>
    </div>
    <br />
    <div class="field">
        <label>Fecha de Inicio:</label>
        <input type="date" id="fechaInicio" onchange="cambiarColorCampo(this)">
    </div>
    <div class="field">
        <label>Fecha de Fin:</label>
        <input type="date" id="fechaFin" onchange="cambiarColorCampo(this)">
    </div>
    <div class="field">
        <label>Numero de Participantes Maximo:</label>
        <input type="number" id="numParticipantes" min="1" step="1" onchange="cambiarColorCampo(this)">
    </div>
    <div class="field">
        <label>Lugar:</label>
        <input type="text" id="lugar" onchange="cambiarColorCampo(this)">
    </div>
    <div class="field">
        <label>Horario:</label>
        <input type="text" id="horario" class="ui input" onchange="cambiarColorCampo(this)">
    </div>
    <div class="five fields">
        <div class="field">
            <label>Ingrese un nuevo Instructor:</label>
        </div>
        <div class="field">
            <a class="ui basic button" onclick="document.location.href='/NuevoInstructor'">
                <i class="add icon user"></i>
                Nuevo Instructor
            </a>
        </div>
    </div>
    <table class="ui compact celled table" id="tablaInstructores">
        <thead>
            <tr>
                <th> Identificacion </th>
                <th> Nombres </th>
                <th> Apellidos </th>
                <th> Telefonos de Contacto </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="ui stackable five column centered grid">
        <div class="column">
            <a onclick="validarDatosInfoCurso()" class="ui blue submit button">
                <i class="save outline icon"></i>
                Guardar
            </a>
        </div>
        <div class="column">
            <a class="ui labeled icon button" onclick="limpiarCamposInfoCurso()">
                <i class="trash alternate outline icon"></i>
                Limpiar Campos
            </a>
        </div>
        <div class="column">
            <a class="ui labeled green icon button" onclick="location.href = '/index'">
                <i class="arrow left icon"></i>
                Regresar
            </a>
        </div>
    </div>
</div>
    {% endblock %}
