{% extends "navbar.html" %}

{% block content %}

<script src="{{ url_for('static',filename='javascript/listarCursos.js') }}"></script>

<h1> Cursos </h1>

<div class="formularioTabla">
    <table id="tablaCursos">
        <thead>
        <th> Nombre </th>
        <th> Fecha Inicio </th>
        <th> Fecha Fin </th>
        <th> Número de participantes </th>
        <th> Lugar </th>
        <th> Horario </th>
        <th> </th>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <div>
                        <input type="button" id="btnBack" value="Atras"></input>
                        <input type="button" id="btnNext" value="Siguiente"></input>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
