{% extends "navbar.html" %}

{% block content %}

<script src="{{ url_for('static',filename='javascript/listarCursos.js') }}"></script>

<h1 class="ui centered align header"> Cursos </h1>

<div class="formularioTabla">
    <div class="ui form">
        <div class="field">
            <label>Buscar por servicios: </label>
            <div>
                <select id="txtBusqueda" onchange="" class="ui fluid dropdown">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="ui stackable seven column centered grid">
            <div class="column">
                <a value="Buscar" onclick="" class="ui blue submit button">
                    <i class="search icon"></i>
                    Buscar
                </a>
            </div>
        </div>
        <br>
        <div class="ui container">
            <table class="ui compact celled table"  id="tablaCursos">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Fecha Inicio </th>
                        <th> Fecha Fin </th>
                        <th> Numero de participantes </th>
                        <th> Lugar </th>
                        <th> Horario </th>
                        <th> Editar Informacion </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui right floated pagination menu">
                                <a class="icon item" id="btnBack">
                                    <i class="chevron left icon"></i>
                                </a>
                                <a class="icon item" id="btnNext">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
