{% extends "navbar.html" %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/validacionesGenerales.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='javascript/validarLogin.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/login.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Inicio de Sesion</h1>
<form class="ui form" action='Login' method='POST'>
        <div class="field">
            <label>Correo electronico:</label>
            <input type="text" name="email" id="email" placeholder="usuario@mail.com">
        </div>
        <div class="field">
            <label>Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="******">
        </div>
<!--
        <table>
            <tr>
                <td>Correo electronico: </td>
                <td><input type="email" name="email" id="email" size="40" placeholder="usuario@mail.com" onchange="cambiarColorCampo(this)"></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="password" name="password" id="password" size="40" placeholder="*****" onchange="cambiarColorCampo(this)"></td>
            </tr>
        </table>-->
    <div class="three fields">
        <input type="submit" value="Iniciar Sesion" class="ui blue button">
        <a class="ui green button" onclick="location.href = '/Registrate'">Registrate</a>
        <a class="ui button" onclick="location.href = '/index'">Invitado</a>
    </div>
</form>
{% endblock %}