{% extends "navbar.html" %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/validacionesGenerales.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='javascript/validarLogin.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/login.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Inicio de Sesion</h1>
<form action='Login' method='POST'>
    <div class="formulario">

        <table>
            <tr>
                <td>Correo electronico: </td>
                <td><input type="email" name="email" id="email" size="40" placeholder="usuario@mail.com" onchange="cambiarColorCampo(this)"></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="password" name="password" id="password" size="40" placeholder="*****" onchange="cambiarColorCampo(this)"></td>
            </tr>
        </table>
    </div>
    <div class="botones">
        <tr>
            <td><input type="submit" value="Iniciar Sesion">
                <input type="reset" onclick="location.href = '/Registrate'" value="Registrate">
                <input type="reset" onclick="location.href = '/index'"value="Invitado"> </td>
        </tr>
    </div>
</form>
{% endblock %}