<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!--    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/semantic.min.js') }}"></script>
    <link href="{{ url_for('static',filename='styles/semantic.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='styles/common.css') }}" rel="stylesheet" type="text/css">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bienvenidos</title>
    {% endif %}
</head>



<body>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>


    <div class="ui stackable menu" id="myTopnav">
        <a class="item" href="/index"><img src="{{url_for('static', filename='logo2.png')}}">  Bolsa de Empleo</a>
        <div class="right menu">
        {% if current_user.is_authenticated %}

            {% if current_user.tipoUser == "admin" %}
            <a class="item" href="/UsuariosBloqueados"><i class="fas fa-user-slash"></i>Usuarios Bloqueados</a>
            <div class="ui simple dropdown item">
                Artesanos<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/BusquedaAdministrador"><i class="fa fa-fw fa-search"></i>Buscar Artesano</a>
                    <a class="item" href="/InscripcionCurso"><i class="fa fa-fw fa-clipboard"></i>Inscripcion a Curso</a>
                    <a class="item" href="/RegistrarAcuerdo"><i class="fas fa-file-signature"></i>Registrar Convenio</a>
                </div>
            </div>

            {% elif current_user.tipoUser == "artesano" %}
            <div class="ui simple dropdown item">
                Artesanos<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/BusquedaArtesanos"><i class="fa fa-fw fa-search"></i>Buscar Artesano</a>
                    <a class="item" href="/RegistrarArtesano/{{current_user.id}}"><i class="fa fa-fw fa-address-card"></i>Registrar Datos</a>
                    <a class="item" href="/InscripcionCurso"><i class="fa fa-fw fa-clipboard"></i>Inscripcion a Curso</a>
                </div>
            </div>

            {% endif %}

            {% if  current_user.tipoUser == "cliente" %}

            <div class="ui simple dropdown item">
                Clientes<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/BusquedaArtesanos"><i class="fa fa-fw fa-search"></i>Buscar Artesanos</a>
                    <a class="item" href="/Convenios"><i class="fas fa-file-alt"></i> Convenios</a>
                </div>
            </div>

            {% endif %}

            {% if current_user.tipoUser == "admin" %}
            <div class="ui simple dropdown item">
                Cursos<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/CrearCurso"><i class="fa fa-fw fa-users"></i>Crear Cursos</a>
                    <a class="item" href="/InfoCurso"><i class="fa fa-fw fa-book"></i>Informacion de Curso</a>
                    <a class="item" href="/ListaCursos"><i class="fa fa-fw fa-book"></i>Listar Cursos</a>
                </div>
            </div>
            {% endif %}
        {% endif %}
        {% if current_user.is_anonymous %}
        <a class="item" href="/BusquedaArtesanos"><i class="fa fa-fw fa-search"></i>Buscar Artesanos</a>
        {% endif %}
            {% if current_user.is_anonymous %}
            <a class="item" href="/Login" class="active"><i class="fa fa-user-circle"></i>Login</a>
            {% else %}
            <div class="ui simple dropdown item">
                {{current_user.nombres}}
                <div class="menu">
                    <a class="item" href="/CambiarContraseña"><i class="fa fa-fw fa-users"></i>Cambiar Contraseña</a>
                    <a class="item" href="/Logout"><i class="fa fa-user-circle"></i>Logout</a>
                </div>
            </div>


            {% endif %}
        </div>
    </div>
    <div class="ui container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>