
	{% extends "navbar.html" %}

	{% block content %}
	<h1> Registro de Acuerdo</h1>

	<div class="formulario">
		<table align="center">
			<tr>
				<td>Nombre del Artesano:</td>
				<td><input type="text" id="nombreArtesano" size="40" disabled></td>
			</tr>
			<tr>
				<td>Acuerdo de: </td>
				<td><input type="text" id="acuerdo" size="40"></td>
			</tr>
			<tr>
				<td>Descripcion de la Tarea:</td>
				<td><textarea cols="40" rows="6" id="descripcion"></textarea></td>
			</tr>
			<tr>
				<td>Valor del Acuerdo:</td>
				<td><input type="number" id="valor" size="40" step=".01"></td>
			</tr>
			<tr>
				<td>Fecha de Inicio:</td>
				<td><input type="date" id="fechaInicio" size="40"></td>
			</tr>
			<tr>
				<td>Fecha de Fin:</td>
				<td><input type="date" id="fechaFin" size="40"></td>
			</tr>
			<tr>
				<td>Comentario:</td>
				<td><textarea cols="40" rows="6" id="comentario"></textarea></td>
			</tr>
		</table>
	</div>
	<div class="botones">
		<tr>
			<td> <input type="submit" value="Registrar" onclick="botonRegistrarse()">
				<input type="submit" value="Limpiar Campos">
				<input type="submit" value="Regresar" onclick="location.href = '/index'"></td>
		</tr>
	</div>
	{% endblock %}
