{% extends "navbar.html" %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/usuariosBloqueados.js') }}"></script>

<h1> Desbloquear Usuarios</h1>

<form class="ui form">
    <div class="field">
        <label>Buscar:</label>
        <div class="fields">
            <div class="four wide field">
                <select id="opciones" onchange="mostrarBoton()">
                    <option value="correoElectronico">Por E-mail</option>
                </select>
            </div>
            <div class="twelve wide field">
                <input type="text" id="correo" size="40" placeholder="Ingrese el dato a buscar">
            </div>
        </div>
    </div>
    <div class= "field" >
        <a class="ui button" onclick="mostrarTabla()">Buscar</a>
    </div>
</form>        

<div class="ui container">
<table class="ui compact celled table" id="tablaTest">
    <thead>
    <th> Nombres </th>
    <th> Usuario </th>
    <th> Identificacion </th>
    <th> Correo Electronico </th>
    <th> Estado </th>
    <th> Tipo </th>
    <th> Funcion </th>
    </thead>
    <tbody>
    </tbody>    
    <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item" id="btnBack">
                        <i class="chevron left icon"></i>
                    </a>
                    <a class="icon item" id="btnNext">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

</div>

{% endblock %}