{% extends "navbar.html" %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/usuariosBloqueados.js') }}"></script>

<h1> Desbloquear Usuarios</h1>

<table style="margin: 0 auto;">
<tr>
    <td style = "text-align: center">Buscar: </td>
</tr>
<tr>
    <td ><select id="opciones" onchange="mostrarBoton()">
        <option value="correoElectronico">Por E-mail</option>
  </select></td>
</tr>
	
</tr>
<tr>
    <td><input type = "text" id="correo" size="40" placeholder="Ingrese el dato a buscar" ></td>
</tr>
<tr>
    <td>
        <div class= "botonBuscar" >
            <input type="submit" value="Buscar" onclick="mostrarTabla()">
        </div>        
    </td>    
</tr>
</table>
    
<table class="ui compact celled table" id="tablaArtesanos">
    <thead>
    <th> Nombres </th>
    <th> Apellidos </th>
    <th> Identificacion </th>
    <th> Correo Electronico </th>
    <th> Estado </th>
    </thead>
    <tbody>
    </tbody>    
    <tfoot>
        <tr>
            <th colspan="8">
                <div class="ui right floated pagination menu">
                    <a class="icon item" id="btnBack">
                        <i class="chevron left icon"></i>
                    </a>
                    <a class="icon item" id="btnNext">
                        <i class="right chevron icon"></i>
                    </a>
                    <!--<input class="ui button" id="btnBack" value="Atras"></input>
                    <input class="ui button" id="btnNext" value="Siguiente"></input>-->
                </div>
            </th>
        </tr>
    </tfoot>
</table>

{% endblock %}