{% extends "navbar.html" %}

{% block content %}

<script src="{{ url_for('static',filename='javascript/VerConvenios.js') }}"></script>

<h1> Convenios</h1>

<div class="formularioTabla">
    <table id="tablaAcuerdos">
        <thead>
        <th> Nombre </th>
        <th> Cliente </th>
        <th> Artesano </th>
        <th> Descripcion </th>
        <th> Fecha Inicio </th>
        <th> Fecha Finalizacion</th>
        <th> Valor</th>
        <th> Comentario</th>
        <th> </th>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <div>
                        <input type="button" id="btnBack" value="Atras"></input>
                        <input type="button" id="btnNext" value="Siguiente"></input>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
