{% extends "navbar.html" %}

{% block content %}

	<h1> Inscripcion a Curso de Capacitacion</h1>

	<div class="formulario">
		<table align="center">
			<tr>
				<td>Seleccione un Curso:</td>
				<td><select>
						<option value="curso1">Curso 1</option>
						<option value="curso2">Curso 2</option>
						<option value="curso3">Curso 3</option>
					</select></td>
			</tr>
			<tr>
				<td>Descripcion del Curso:</td>
				<td><textarea cols="40" rows="6" id="descripcion" disabled></textarea></td>
			</tr>
			<tr>
				<td>Nombre del Instructor: </td>
				<td><input type="text" id="nombreInstructor" size="40" disabled></td>
			</tr>
			<tr>
				<td>Fecha de Inicio:</td>
				<td><input type="date" id="fechaInicio" size="40" disabled></td>
			</tr>
			<tr>
				<td>Fecha de Fin:</td>
				<td><input type="date" id="fechaFin" size="40" disabled></td>
			</tr>
			<tr>
				<td>Lugar:</td>
				<td><input type="text" id="lugar" size="40" disabled></td>
			</tr>
			<tr>
				<td>Horario:</td>
				<td><input type="text" id="horario" size="40" disabled></td>
			</tr>
		</table>
	</div>
	<div class="botones">
		<tr>
			<td> <input type="submit" value="Inscribirse" onclick="botonGuardar()">
				<input type="submit" value="Regresar" onclick="location.href = '/index'"></td>
		</tr>
	</div>
	{% endblock %}